.container-hqs{
    max-width: 1300px;
    margin: 0 auto;
    padding: 18px 5px;
        h2{
            margin-left: 20px;
            color: #5ed5f5;
            margin-bottom: 18px;
        }
}